.base {
  position: relative;
  contain: layout;

  .sectionTitle {
    font-weight: bold;
    text-align: center;
  }

  .scroll {
    position: absolute;
    top: 1.75rem;
    bottom: 0;
    width: 100%;
    overflow: scroll;

    .inner {
      width: 100%;
      position: relative;

      .trip {
        display: grid;
        grid-template-columns: 0.25fr 1fr 1fr 1fr;
        align-items: center;
      }
    }
  }
}

.base table {
  width: 100%;

  th, button {
    text-align: left;
  }

  font-size: 0.8rem;

  td {
    .checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.header {
  border: 0;
  background-color: transparent;
  padding: 0;
}
