.base {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;

  figcaption {
    font-weight: bold;
    text-align: center;
  }

  button.clear {
    position: absolute;
    top: 0;
    right: 0;
  }
}
