.base {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;

  figcaption {
    font-weight: bold;
    text-align: center;
  }

  button.clear {
    position: absolute;
    top: 0;
    right: 0;
  }

  .detail {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
    text-align: right;

    background: rgb(107, 107, 107);
    padding: 1px 6px;
    border: 0.5px solid buttonborder;
    border-radius: 2px;
  }
}
