.base {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr 2fr 2fr;
  padding: 1.5rem;
  gap: 2rem;

  & > * {
    border-radius: 3px;
    box-shadow: 0 0 0 0.65rem #020012,
      0 0 0 calc(0.65rem + 1.5px) rgb(255 255 255 / 0.2);
  }
}

.month-histogram {
  grid-row: 1;
  grid-column: 1;
}

.time-histogram {
  grid-row: 1;
  grid-column: 2;
}

.heatmap {
  grid-row: 2 / span 2;
  grid-column: 1;
}

.selected-trips-time {
  grid-row: 2;
  grid-column: 2;
}

.vehicle-filter {
  grid-row: 4;
  grid-column: 1;
}

.trip-selector {
  grid-row: 3 / span 2;
  grid-column: 2;
}
