.base {
  position: relative;

  display: flex;
  flex-direction: column;

  figcaption {
    text-align: center;
    font-weight: bold;
    flex: 0 0 auto;
  }

  .container {
    flex: 1 1 0;
    position: relative;

    & > svg,
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    & > img {
      image-rendering: pixelated;
      mix-blend-mode: lighten;
      z-index: 0;
      opacity: 0.35;
    }

    & > svg {
      z-index: 1;
      path {
        vector-effect: non-scaling-stroke;
      }
    }
  }

  button.clear {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    line-height: 1;
    padding: 5px 15px 6px;
    background: rgb(107, 107, 118);
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 2px 6px 2px #020012;

    &:hover {
      background: rgb(130 130 145);
    }
  }
}
